<img src="/images/{{image}}" style="width:150px; border:5"><br>
BY: {{shopTitle}}<br>
YEAR: {{year}}<br>
MAKE: {{make}}<br>
MODEL: {{model}}<br>
${{price}}<br>
<br>
<a  href="/car/{{id}}">{{displayCarLink year make model}}</a>
<br>
<br>
